
	<div class="wrapper">
		<div>
			<div class="flex-item">
				<figure>
					<img class="imgi" src="img/ae.png">
				</figure>
				<h3>Project 1</h3>
			</div>
			<div class="flex-item">
				<figure>
					<img class="imgi" src="img/ai.png">
				</figure>
				<h3>Project 2</h3>
			</div>
			<div class="flex-item">
				<figure>
					<img class="imgi" src="img/anim.png">
				</figure>
				<h3>Project 3</h3>
			</div>
			<div class="flex-item">
				<figure>
					<img class="imgi" src="img/ind.png">
				</figure>
				<h3>Project 4</h3>
			</div>
			<div class="flex-item">
				<figure>
					<img class="imgi" src="img/pre.png">
				</figure>
				<h3>Project 5</h3>
			</div>
			<div class="flex-item">
				<figure>
					<img class="imgi" src="img/ps.png">
				</figure>
				<h3>Project 6</h3>
			</div>
		</div>
	</div>